@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 20% 7%;
    --foreground: 210 20% 93%;
    --card: 228 18% 12%;
    --card-foreground: 210 20% 93%;
    --primary: 192 91% 54%;
    --primary-foreground: 228 25% 7%;
    --secondary: 228 15% 17%;
    --secondary-foreground: 210 15% 80%;
    --muted: 228 15% 14%;
    --muted-foreground: 215 10% 55%;
    --accent: 199 89% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 15% 20%;
    --input: 228 15% 20%;
    --ring: 192 91% 54%;
  }
}
